# .env file to set up the site

# External network name
NETWORK=webproxy

# Container name
CONTAINER_NAME=personal-website

# Your domain (or domains)
DOMAINS=domain.com,www.domain.com

# Your email for Let's Encrypt register
LETSENCRYPT_EMAIL=your_email@domain.com