<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">

<head>
    <title>Tim Harpe</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon.ico">
    <!-- Mobile Support -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- load icons based js -->
    <script defer src="assets/js/all.js"></script>
    <!-- w3css-->
    <link rel="stylesheet" href="assets/css/w3.css">
    <!-- google Font-->
    <link href="assets/css/googleFont.css" rel="stylesheet">
    <!-- custom js import-->
    <script type="text/javascript" src="assets/js/custom.js"></script>
    <!-- custom css import -->
    <link rel="stylesheet" href="assets/css/custom.css">
</head>

<body style="font-family: 'Open Sans', monospace; font-size: 20px;" onload="calculateAge()">
    <div class="w3-top" style="z-index: 5;">
        <div class="w3-bar" id="myNavbar">
            <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);"
                onclick="toggleFunction()" title="Toggle Navigation Menu">
                <i class="fa fa-bars"></i>
            </a>
            <a href="#homeScreen" class="w3-bar-item w3-button "><i class="fas fa-home"></i></a>
            <a href="#about" class="w3-bar-item w3-button w3-hide-small"><i class="fas fa-user"></i> ABOUT</a>
            <a href="#timeline" class="w3-bar-item w3-button w3-hide-small"><i class="fas fa-stream"></i> TIMELINE</a>
            <a href="#work" class="w3-bar-item w3-button w3-hide-small"><i class="fas fa-building"></i> WORK</a>
            <a href="#projects" class="w3-bar-item w3-button w3-hide-small"><i class="fas fa-project-diagram"></i>
                PROJECTS</a>
            <a href="#future" class="w3-bar-item w3-button w3-hide-small"><i class="fas fa-th-list"></i> FUTURE</a>
            <a href="#contact" class="w3-bar-item w3-button w3-hide-small"><i class="fas fa-address-book"></i>
                CONTACT</a>
        </div>
        <div id="smallNavbar" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium">
            <a href="#about" class="w3-bar-item w3-button" onclick="toggleFunction()">ABOUT</a>
            <a href="#work" class="w3-bar-item w3-button" onclick="toggleFunction()">WORK</a>
            <a href="#projects" class="w3-bar-item w3-button" onclick="toggleFunction()">PROJECTS</a>
            <a href="#future" class="w3-bar-item w3-button" onclick="toggleFunction()">FUTURE</a>
            <a href="#contact" class="w3-bar-item w3-button" onclick="toggleFunction()">CONTACT</a>
        </div>
    </div>
    <div class="bgimg-1 w3-display-container w3-opacity-min" id="homeScreen">
        <div class="w3-display-middle" style="white-space:nowrap;">
            <span class="w3-center w3-padding-large w3-black w3-xxlarge w3-wide w3-animate-opacity">Tim Harpe <span
                    class="w3-small w3-hide-small">IT-Specialist</span></span>
        </div>
    </div>
    <div class="w3-content w3-container w3-padding-32">
        <div style="position: relative; height: 0px; top: -52px;" id="about"></div>
        <h2 class="w3-center">ABOUT ME</h2>
        <h4 class="w3-center">I love everything that has to do with computer science!</h4>
        <p>Welcome to my website. My name is Tim Harpe, I am <span id="age"></span> years old. I
            am interested in all
            about
            computer science. In my free time I play Badminton, Volleyball and meet with friends. As well I am the guy
            for the internet in my circle of friends. If they ask me why their Wi-Fi doesn't work or to fix their issues
            with computers or smartphones. On rainy days, or if I find a new interesting technology, I try to
            understand and use them for my projects.</p>
        <div class="w3-row">
            <div class="w3-col m5 w3-center w3-padding-large">
                <p><b><i class="fa fa-user w3-margin-right"></i>Tim Harpe</b></p>
                <img src="/assets/img/avatar.jpg" class="w3-round w3-image w3-opacity w3-hover-opacity-off"
                    alt="Photo of Me" width="200" height="400">
            </div>
            <div class="w3-col m7 w3-hide-small w3-padding-large">
                <p>I am an IT-Specialist based in Frankfurt, Germany. Before I started to work in projects for
                    companies, I completed an apprenticeship as “IT-Specialist” (German: Fachinformatiker für
                    Systemintegration) at Deutsche
                    Telekom AG! During my apprenticeship I did an internship at Strong Answer in Portugal. Due to my
                    work
                    experience I aquired skills in:
                    <ul>
                        <li>Ubuntu, FreeBSD, Debian, RedHat and their tools</li>
                        <li>DDI: DNS, DHCP, IPAM</li>
                        <li>Virtualization: VMware, Hyper-V and fewer in Opentstack</li>
                        <li>Development-Tools: Docker, GitHub, GitLab, Git</li>
                        <li>Web-development: HTML, CSS, JS, Bootstrap, W3-Css</li>
                        <li>Languages: VB, Java, PHP, JS, Bash</li>
                        <li>DDI programm SOLIDserver from efficient IP</li>
                    </ul>
                </p>

            </div>
        </div>
    </div>
    <div class="w3-dark-gray">
        <div class="w3-content w3-container w3-padding-32">
            <div style="position: relative; height: 0px; top: -52px;" id="timeline"></div>
            <h2 class="w3-center">TIMELINE</h2>
            <h4 class="w3-center">What I did in my life</h4>
            <div class="containerTimeline">
                <div class="timeline-block timeline-block-right">
                    <div class="marker"></div>
                    <div class="timeline-content">
                        <h3>2005-2009</h3>
                        <span>Elementary School</span>
                        <p>Started the elementary school in Lorsch, Germany at Wingertsberg School and finished
                            successfully 2009</p>
                    </div>
                </div>
                <div class="timeline-block timeline-block-left">
                    <div class="marker"></div>
                    <div class="timeline-content">
                        <h3>2009-2015</h3>
                        <span>Secondary School</span>
                        <p>Started secondary school in Lorsch, Germany at Werner-von-Siemens-School and finished
                            successfully in 2015</p>
                    </div>
                </div>
                <div class="timeline-block timeline-block-right">
                    <div class="marker"></div>
                    <div class="timeline-content">
                        <h3>2015-2018</h3>
                        <span>Apprenticeship IT-Specialist</span>
                        <p>Started an apprenticeship as IT-Specialist in Darmstadt, Germany at Deutsche Telekom AG and
                            finished
                            successfully in winter 2018</p>
                    </div>
                </div>
                <div class="timeline-block timeline-block-left">
                    <div class="marker"></div>
                    <div class="timeline-content">
                        <h3>2017-2017</h3>
                        <span>Internship at Strong Answer</span>
                        <p>Completed internship at Strong Aswer Lagoa, Portugal to
                            expand my Englisch skills and to get first experiences with web-development</p>
                    </div>
                </div>
                <div class="timeline-block timeline-block-right">
                    <div class="marker"></div>
                    <div class="timeline-content">
                        <h3>2018-2020</h3>
                        <span>Work Experience</span>
                        <p>After my education, I started a job at SST-IT Services AG Frankfurt, Germany. I am working in
                            Projects for other companies. Currently I work for the IT department of the government
                            (ITZ-BUND)</p>
                    </div>
                </div>
                <div class="timeline-block timeline-block-left">
                    <div class="marker"></div>
                    <div class="timeline-content">
                        <h3>2018-2020</h3>
                        <span>High school</span>
                        <p>In 2018 I decided to catch up my high school graduation in evenin classes
                        </p>
                    </div>
                </div>
                <div class="timeline-block timeline-block-right">
                    <div class="marker"></div>
                    <div class="timeline-content">
                        <h3>2020-now</h3>
                        <span>Work Experience</span>
                        <p>In 2020 I started the job Engineer Cloud/Datacenter at DZ Bank AG. I am working there
                            in the network and cloud departement.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="w3-content w3-container w3-padding-32">
        <div style="position: relative; height: 0px; top: -52px;" id="work"></div>
        <h2 class="w3-center">WORK</h2>
        <h4 class="w3-center">My fulltime Job</h4>
        <p>Currently I am an employee of DZ Bank AG located in Frankfurt. At DZ Bank I am located in the Network/Cloud
            department which operates firewalls, switches, routers and everything what is running to provide the
            network. There I am fixing problems, solve incidents, attend new releases and upgrades in the network. Also
            we started deploying the first services in the cloud.
        </p>
    </div>
    <div class="w3-dark-gray">
        <div class="w3-content w3-container w3-padding-32">
            <div style="position: relative; height: 0px; top: -52px;" id="projects"></div>
            <h2 class="w3-center">PROJECTS</h2>
            <h4 class="w3-center">Latest things I am working on.</h4>
            <table class="w3-table w3-bordered w3-light-grey">
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Technology</th>
                </tr>
                <tr>
                    <td>Personal Website</td>
                    <td>Everyone needs an internet presence. One pager based on nodeJs</td>
                    <td>Js-Front/Backend, Html, CSS</td>
                </tr>
                <tr>
                    <td>Docker Cluster and HA-Services</td>
                    <td>Docker-Swarm Cluster with >3 RPI Nodes. HA-Website and DB</td>
                    <td>RPI-Jessi Light,Docker-Swarm, HTML, JS, CSS, MSQL</td>
                </tr>
                <tr>
                    <td>Nginx Reverse Proxy</td>
                    <td>Reverse Proxy for the Docker-Swarm Cluster</td>
                    <td>Nginx, Network Knowledge, DNS, DHCP, VLSM</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="w3-content w3-container w3-padding-32">
        <div style="position: relative; height: 0px; top: -52px;" id="future"></div>
        <h2 class="w3-center">FUTURE VENTURES</h2>
        <h4 class="w3-center">What I am interested in.</h4>
        <ul>
            <li>Expand nodeJS experience (npm etc.)</li>
            <li>Idea behind CI/CD, integrate in workflow</li>
            <li>Scalable distributed systems (infrastructure, networks, microservices)</li>
            <li>Blockchain</li>
            <li>DNS SEC</li>
            <li>Cloud platforms like openstack</li>
            <li>Deploying kubernetes stack in cloud</li>
            <li>Terraform and ansible automatisation</li>
            <li>Expand skills with git</li>
        </ul>
    </div>
    <footer class="w3-center w3-dark-gray w3-padding-64">
        <a class="w3-button w3-blue w3-round-xxlarge w3-border w3-border-white" onclick="totopFunction()"><i
                class="fa fa-arrow-up"></i></a>
        <div class="w3-xxlarge w3-section" id="contact">
            <a href="https://github.com/Nevana" target="_blank"><i class="fab fa-github-square"></i></a>
            <a href="https://www.linkedin.com/in/tim-harpe/" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="https://www.xing.com/profile/Tim_Harpe2" target="_blank"><i class="fab fa-xing-square"></i></a>
            <a href="mailto:tim.harpe@t-online.de" target="_blank"><i class="fas fa-envelope-square"></i></a>
        </div>
    </footer>
</body>

</html>